.patterns {
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  margin-top:19px;
  padding-bottom: 168px;
}



.special {
  /* font-family: Lora; */
   /* font-family: Lobster;  */
   /* font-family: 'Kaushan Script', cursive; */
   /* font-family: 'Ubuntu', sans-serif; */
   /* font-family: 'Saira Stencil One', cursive; */
   font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 10px;
  /* stroke: #cc00ff; */
  stroke: #8492e2;
  font-size: 150px;
  font-weight: 100;
  stroke-width: 5px;

 
  animation: textAnimate 2.5s  infinite alternate-reverse ;
}

@keyframes textAnimate {
  0% {
    /* stroke-dasharray: 0 60%;
    stroke-dashoffset:  20%; */
    stroke-dasharray: 0 100%;
    stroke-dashoffset:  11%;
    fill:rgb(240, 240, 240)

  }
  
  100% {
    /* stroke-dasharray: 60% 85%;
    stroke-dashoffstet: -20%; */
    stroke-dasharray: 100% 0;
    stroke-dashoffset: 10%;
    fill: rgba(255, 252, 255, 0.849)
  }
  
}








.titleb{
  position: absolute;
  top:58px;
  width: 100%;
  height: 90%;
  
  
}