.imgcss{
    width: 100%;
    height: 560px;
    position: relative;
    
}

.title{
    position: absolute;
    top: 380px;
    /* background-color: blue */
    color: white;
    font-size: 3rem;
    left: 20px;
    
}
.yo::first-letter {
    font-size: 250%;
    color: #8A2BE2;
    line-height: 0%;
    
  }

  .yo2{
    color: #8A2BE2;
    font-size: 110%;
    font-style: bold;
    line-height: 0%;
  }

  .a:hover {
    color: yellow;
  }