@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

    .t{
        font-family: 'Saira Stencil One';
        font: normal 36px 'Saira Stencil One', cursive;
    }


    .t2{
        font-family: 'Saira Stencil One';
        font: normal 'Saira Stencil One', cursive;
    }